{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block container %}
<style>
	.currentHover:hover{
          opacity: 1;
	}
	img : hover{
		opacity: 1
	}
</style>
	<nav id="nav-1" class="navbar navbar-expand-lg bg-color fixed-top" style="background-color: #007bff;">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div>
				<a class="navbar-brand" href="{{path('app_home')}}">
					<img src="{{ asset('images/logo1.jpg') }}" width="100px">
				</a>
			</div>
			<h1 style="color: white; text-transform: uppercase; font-size: 2em; font-family: 'Kdam Thmor Pro', sans-serif;">Laboratoire médicale</h1>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link text-uppercase {{ app.request.get('_route') == 'app_home' ? 'active' : '' }}" href="#1" style="color: white; margin-right:1em; font-size: 0.8em;">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-uppercase {{ app.request.get('_route') == 'a_propos' ? 'active' : '' }}" href="#2" style="color: white; margin-right:1em; margin-left:1em; font-size: 0.8em;">A Propos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-uppercase {{ app.request.get('_route') == 'services' ? 'active' : '' }}" href="#3" style="color: white; margin-right:1em; margin-left:1em; font-size: 0.8em;">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-uppercase " href="{{path('app_contact')}}" style="color: white; margin-right:1em; font-size: 0.8em; margin-left:1em;">Contact</a>
					</li>
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link text-uppercase {{ app.request.get('_route') == 'app_logout' ? 'active' : '' }}" href="{{ path('app_logout') }}" style="color: white; margin-right:1em; margin-left:1em; font-size: 0.8em;">Déconnexion</a>
						</li>
						{% if app.user %}
							{% if is_granted('ROLE_SECRETAIRE') %}
								<li class="nav-item">
									<a class="nav-link text-uppercase {{ app.request.get('_route') == 'app_logout' ? 'active' : '' }}" href="{{ path('secretaire') }}" style="color: white; margin-right:1em; margin-left:1em; font-size: 0.8em;">Dasbord</a>
								</li>
							{% elseif is_granted('ROLE_PATIENT') %}
								<li class="nav-item">
									<a class="nav-link text-uppercase {{ app.request.get('_route') == 'app_logout' ? 'active' : '' }}" href="{{ path('admin') }}" style="color: white; margin-right:1em; margin-left:1em; font-size: 0.8em;">Dasbord</a>
								</li>
							{% elseif is_granted('ROLE_LABORANTIN') %}
								<li class="nav-item">
									<a class="nav-link text-uppercase {{ app.request.get('_route') == 'app_logout' ? 'active' : '' }}" href="{{ path('laborantin') }}" style="color: white; margin-right:1em; margin-left:1em; font-size: 0.8em;">Dasbord</a>
								</li>
							{% endif %}
						{% endif %}

					{% else %}
						<li class="nav-item">
							<a class="nav-link text-uppercase {{ app.request.get('_route') == 'app_login' ? 'active' : '' }}" href="{{ path('app_login') }}" style="color: white; margin-right:1em; margin-left:1em; font-size: 0.8em;">Se connecter</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-uppercase {{ app.request.get('_route') == 'app_register' ? 'active' : '' }}" href="{{ path('app_register') }}" style="color: white; margin-right:1em; margin-left:1em; font-size: 0.8em;">Inscription</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<div data-bs-spy="scroll" data-bs-target="nav-1" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
		<section id="1">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12" style="background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.1)), url('{{ asset('images/imageA.png') }}') no-repeat center/cover; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">
						<div style="text-align: center; color: white;">
							<h1 style="font-size: 3em; color: #007bff;">SOINS MÉDICAUX SANS RDV</h1>
							<h3 style="font-size: 1.5em; color: #0056b3;">POUR ADULTES ET ENFANTS</h3>
							<p style="color: #003366;">Lundi - Samedi : 7h00 - 19h30</p>
							<p style="color: #00284d;">Dimanche : 7h00 - 16h30</p>
						</div>
						<div>
							<a href="{{ path('app_register')}}" style="display: inline-block; background-color: #007bff; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Connection</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="2" style="height: 100vh; background-color:;">
			<div class="container-fluid" style="margin-left: 2em; margin-right: 2em; height: 100%; display: flex; align-items: center;">
				<div class="row">
					<div class="col-4"></div>

					<div class="col-4">
						<div style="text-align: center; color: white; margin-bottom: 3em;">
							<h1 style="font-size: 3em; color: #007bff; margin-bottom: 1em; margin-top: 1em;">A PROPOS</h1>
							<p style="color: #003366; margin-bottom: 6em; text-align: center; ">Bienvenue chez LABO, votre partenaire de confiance pour des services d'analyse médicale de qualité. Forts de notre engagement envers l'excellence, nous sommes déterminés à fournir des résultats précis et rapides pour répondre à vos besoins de santé.Nous investissons continuellement dans les dernières technologies pour assurer la précision et la fiabilité de nos analyses. Notre laboratoire est équipé des instruments les plus modernes, gérés par une équipe de techniciens compétents.
							</p>
						</div>
					</div>
					<div class="col-4"></div>

					<div class="row justify-content-center">
						<div class="col-2">
							<h3 style="color: #007bff;">
								<div style="text-align: center;">
									<i class="bi bi-heart-pulse"></i>
								</div>
								<br>
								Laboratoire sur place
							</h3>
						</div>
						<div class="col-2">
							<h3 style="color: #007bff; ">
								<div style="text-align: center;">
									<i class="bi bi-hospital"></i>
								</div>
								<br>
								Ouvert 7 jours sur 7
							</h3>
						</div>
						<div class="col-2">
							<h3 style="color: #007bff;">
								<div style="text-align: center;">
									<i class="bi bi-shield-check"></i>
								</div>
								<br>
								Nombreuses
								<br>
								mutuelles partenaires
							</h3>
						</div>
						<div class="col-2">
							<h3 style="color: #007bff;">
								<div style="text-align: center;">
									<i class="bi bi-alarm"></i>
								</div>
								<br>
								Peu d'attente
							</h3>
						</div>
						<div class="col-2">
							<h3 style="color: #007bff;">
								<div style="text-align: center;">
									<i class="bi bi-calendar2-check"></i>
								</div>
								<br>
								Avec rendez-vous
							</h3>
						</div>
					</div>

				</div>
			</div>
		</section>


		<section id="3" style=" background-color: #f0f0f0;">
			<div class="container-fluid" style="margin-left: 2em; margin-right: 2em; height: 100%; display: flex; align-items: center;">
				<div class="row">
					<div class="col-4"></div>
                  
					<div class="col-4">
						<div style="text-align: center; color: white; ">
							<h1 style="font-size: 3em; color: #007bff; margin-bottom: 2em; margin-top: 2em;">SERVICES</h1>
							</p>
						</div>
					</div>
				
					<!-- Bootstrap Card Integration -->
					<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
						<div class="col-3 currentHover" >
							<div class="card h-60">
								<img src="{{ asset('images/image3.jpg') }}" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Radiographie et analyses</h5>
								</div>
							</div>
						</div>
						<div class="col-3">
							<div class="card h-60">
								<img src="{{ asset('images/image4.jpg') }}" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Médecine du travail</h5>
								</div>
							</div>
						</div>
						<div class="col-3">
							<div class="card h-60">
								<img src="{{ asset('images/image5.jpg') }}" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Vaccins pour l'étranger</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="4" style="background-color: #007bff; color: white; margin-top: 5vh;">
			<div>
				<!-- FOOTER -->
				<footer class="w-100 py-4 flex-shrink-0">
					<div class="container py-4">
						<div class="row gy-4 gx-5">
							<div class="col-lg-4 col-md-6">
								<h5 class="h1">Labo.</h5>
								<p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
								<p class="small mb-0">&copy; Copyrights. All rights reserved.
									<a class="text-white" href="#">Bootstrapious.com</a>
								</p>
							</div>
							<div class="col-lg-2 col-md-6">
								<h5 class="mb-3">Quick links</h5>
								<ul class="list-unstyled">
									<li>
										<a class="text-white" href="#">Home</a>
									</li>
									<li>
										<a class="text-white" href="#">About</a>
									</li>
									<li>
										<a class="text-white" href="#">Get started</a>
									</li>
									<li>
										<a class="text-white" href="#">FAQ</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-2 col-md-6">
								<h5 class="mb-3">Quick links</h5>
								<ul class="list-unstyled">
									<li>
										<a class="text-white" href="#">Home</a>
									</li>
									<li>
										<a class="text-white" href="#">About</a>
									</li>
									<li>
										<a class="text-white" href="#">Get started</a>
									</li>
									<li>
										<a class="text-white" href="#">FAQ</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-4 col-md-6">
								<h5 class="mb-3">Newsletter</h5>
								<p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
								<form action="#">
									<div class="input-group mb-3">
										<input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
										<button class="btn btn-primary" id="button-addon2" type="button">
											<i class="fas fa-paper-plane"></i>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</section>


	</div>
{% endblock %}
