{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		body {
			background: #007bff;
			font-family: 'Roboto', sans-serif;
		}

		.login-box {
			margin-top: 75px;
			height: auto;
			background: #007bff;
			text-align: center;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		}

		.login-key {
			height: 100px;
			font-size: 80px;
			line-height: 100px;
			background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.login-title {
			margin-top: 15px;
			text-align: center;
			font-size: 30px;
			letter-spacing: 2px;
			margin-top: 15px;
			font-weight: bold;
			color: #ECF0F5;
		}

		.login-form {
			margin-top: 25px;
			text-align: left;
		}

		input[type=email],
		input[type=password],
		input[type=text] {
			background-color: #007bff;
			border: none;
			border-bottom: 2px solid #0DB8DE;
			border-top: 0;
			border-radius: 0;
			font-weight: bold;
			outline: 0;
			margin-bottom: 20px;
			padding-left: 0;
			color: #ECF0F5;
		}

		.form-group {
			margin-bottom: 40px;
			outline: 0;
		}

		input[type=email]:focus,
		input[type=password]:focus,
		input[type=text]:focus {
			border-color: inherit;
			-webkit-box-shadow: none;
			box-shadow: none;
			border-bottom: 2px solid #0DB8DE;
			outline: 0;
			background-color: #1A2226;
			color: #ECF0F5;
		}

		label {
			margin-bottom: 0;
			color: #ECF0F5; /* Add this line to set label color */
		}

		.form-control-label {
			font-size: 10px;
			color: #6C6C6C;
			font-weight: bold;
			letter-spacing: 1px;
		}

		.btn-outline-primary {
			border-color: #0DB8DE;
			color: #0DB8DE;
			border-radius: 0;
			font-weight: bold;
			letter-spacing: 1px;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		}

		.btn-outline-primary:hover {
			background-color: #0DB8DE;
			right: 0;
		}

		.login-btm {
			float: left;
		}

		.login-button {
			padding-right: 0;
			text-align: right;
			margin-bottom: 25px;
		}

		.login-text {
			text-align: left;
			padding-left: 0;
			color: #A2A4A4;
		}

		.loginbttm {
			padding: 0;
		}
	</style>
{% endblock %}


{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-2"></div>
			<div class="col-lg-6 col-md-8 login-box">
				<div class="col-lg-12 login-key">
					<i class="bi bi-person-fill-add"></i>
				</div>
				<div class="col-lg-12 login-title">
					INSCRIPTION
				</div>

				{{ form_start(form) }}
				{{ form_widget(form._token) }}

				<form action="{{ path('app_register') }}" method="POST" class="col-lg-12 login-form">
					<div class="mb-3">
						<label for="InputEmail1" class="form-label">Adresse Email</label>
						{{ form_widget(form.email) }}
						<div id="emailHelp" class="form-text">Ne confondez pas votre Adresse email.</div>
					</div>
					<div class="mb-3">
						<label for="InputEmail1" class="form-label">First Name</label>
						{{ form_widget(form.first_name) }}
					</div>
					<div class="mb-3">
						<label for="InputEmail1" class="form-label">Last Name</label>
						{{ form_widget(form.last_name) }}
					</div>
					<div class="mb-3">
						<label for="Inputpseudo" class="form-label">UserName</label>
						{{ form_widget(form.username) }}
					</div>
					<div class="mb-3">
						<label for="Inputpseudo" class="form-label">Role</label>
						{{ form_widget(form.roles) }}
					</div>
					<div class="mb-3">
						<label for="InputPassword1" class="form-label">Mot de Passe</label>
						{{ form_widget(form.plainPassword) }}
					</div>
					<div class="mb-3">
						<label for="InputPassword1" class="form-label">Condition</label>
						{{ form_widget(form.agreeTerms) }}
					</div>
					<button type="submit" class="btn btn-primary btn-text-center">S'inscrire</button>
				</form>

				{{ form_end(form) }}
			</div>
			<div class="col-lg-3 col-md-2"></div>
		</div>
	</div>
{% endblock %}
